$bg-theme-black: hsl(207, 26%, 17%);

$bg-theme-black-ligth: hsl(209, 23%, 22%);

$bg-theme-white: hsl(0, 0%, 100%);

$txt-white: hsl(0, 0%, 100%);

$bg-grey: hsl(0, 0%, 98%);

.main-content {
  display: block;
  padding-top: 2rem;
  padding-left: 4rem;
  padding-right: 4rem;
  background-color: $bg-theme-black;

  &__searchFilter {
    display: flex;
    justify-content: space-between;


    >.search {
      position: relative;
      display: flex;
      align-items: center;

      >span {
        position: absolute;
        color: $txt-white;
        left: 1rem;
      }

      >span.theme-light {
        color: $bg-theme-black;
      }

      >input {
        background-color: $bg-theme-black-ligth;
        padding-left: 3rem;
        width: 17rem;
        height: 2.5rem;
        border: 0px;
        border-radius: 5px;
        color: white;

        &::placeholder {
          color: white;
        }
      }

      >input.theme-light {
        background-color: $bg-theme-white;
        color: $bg-theme-black;

        &::placeholder {
          color: $bg-theme-black;
        }
      }
    }

    >.regionFilter {
      cursor: pointer;
      display: flex;
      align-items: center;
      width: 14rem;
      height: 2.5rem;
      border: 0px;
      border-radius: 5px;
      color: white;
      background-color: $bg-theme-black-ligth;

      &:hover {
        .sub-menu {
          display: block;
          margin-top: 1rem;
          padding-left: 1rem;
          width: 13rem;

          li:hover {
            background-color: hsl(208, 10%, 30%);
          }
        }

        .sub-menu.theme-light {
          li:hover {
            background-color: hsl(208, 10%, 30%);
          }
        }
      }

      ul {
        margin: 0px;
        padding: 0rem;
        width: 100%;

        li {
          >div {
            display: flex;
            align-items: center;
            justify-content: space-between;

            >:first-child {
              padding-left: 1rem;
            }

            >:last-child {
              padding-right: 1rem;
            }
          }
        }
      }

      li {
        list-style-type: none;
        position: relative;
      }
    }

    >.regionFilter.theme-light {
      background-color: $bg-theme-white;
      color: $bg-theme-black;
    }
  }

  &__countries {
    color: white;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    row-gap: 3rem;
    column-gap: 1rem;
    margin-top: 3rem;

  }
}

.sub-menu {
  position: absolute;
  display: none;
  background-color: $bg-theme-black-ligth;

  border-radius: 5px;

  li {
    margin-bottom: 0.5rem;
    margin-top: 0.5rem;
  }
}

.sub-menu.theme-light {
  background-color: $bg-theme-white;
}

.countries-card {
  max-width: 16rem;
  background-color: $bg-theme-black-ligth;
  border-radius: 5px;

  &__img {
    >img {
      border-radius: 5px;
      width: 16rem;
      height: 10rem;
    }
  }

  >p {
    margin-left: 1rem;
  }

  >h2 {
    margin-left: 1rem;
  }
}


.main-content.theme-light{
  background-color: $bg-grey;
}


.countries-card.theme-light {
  background-color: $bg-theme-white;
  color: $bg-theme-black;
}

.dropdown {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

@media screen and (max-width:722px) {
  .main-content {
    &__searchFilter {
      flex-direction: column;
      row-gap: 2rem;

      >.search {
        >input {
          width: 100%;
        }
      }
    }
  }
}

@media screen and (max-width:565px) {
  .main-content {
    &__countries {
      justify-content: center;

      .countries-card {
        max-width: 92%;

        &__img {
          >img {
            width: 100%;
            height: 14rem;
          }
        }
      }
    }
  }
}