<div class="main-content">

  <div class="main-content__searchFilter">
    <div class="search">
      <span class="material-icons">search</span>
      <input type="text" name="countryName" id="countryName" placeholder="Search for a country...">
    </div>

    <div class="regionFilter">
      <ul>
        <li>
          Filter by Region
          <ul class="sub-menu">
            <li>Africa</li>
            <li>America</li>
            <li>Asia</li>
            <li>Europe</li>
            <li>Oceania</li>
          </ul>
        </li>
      </ul>
    </div>
  </div>

  <div class="main-content__countries">

  </div>

</div>
