.main-content {
  display: block;
  margin-top: 2rem;
  margin-left: 4rem;
  margin-right: 4rem;
  &__searchFilter {
    display: flex;
    justify-content: space-between;
   

    >.search {
      position: relative;
      display: flex;
      align-items: center;

      >span {
        position: absolute;
        color: white;
        left: 1rem;
      }

      >input {
        background-color: hsl(209, 23%, 22%);
        padding-left: 3rem;
        width: 17rem;
        height: 2.5rem;
        border: 0px;
        border-radius: 5px;
        color: white;

        &::placeholder {
          color: white;
        }
      }
    }

    >.regionFilter {
      cursor: pointer;
      display: flex;
      align-items: center;
      background-color: hsl(209, 23%, 22%);
      width: 14rem;
      height: 2.5rem;
      border: 0px;
      border-radius: 5px;
      color: white;
      &:hover {
        .sub-menu {
          display: block;
          margin-top: 1rem;
          padding-left: 1rem;
          width: 13rem;
        }
      }

      ul {
        margin: 0px;
        padding: 0rem;
        width: 100%;

        li {
         >div{
          display: flex;
          align-items: center;
          justify-content: space-between;
          >:first-child {
            padding-left: 1rem;
          }
          >:last-child{
            padding-right: 1rem;
          }
         }
        }
      }

      li {
        list-style-type: none;
        position: relative;
      }
    }
  }
  &__countries{
    color: white;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    row-gap: 3rem;
    margin-top: 3rem;

  }
}

.sub-menu {
  position: absolute;
  display: none;
  background-color: hsl(209, 23%, 22%);

  border-radius: 5px;
  li{
    margin-bottom: 0.5rem;
    margin-top: 0.5rem;
  }
}
.countries-card{
  max-width: 16rem;
  background-color: hsl(209, 23%, 22%);
  border-radius: 5px;
  &__img{
    >img{
      border-radius: 5px;
      width: 16rem;
      height: 10rem;
    }
  }
  >p{
    margin-left: 1rem;
  }
  >h2{
    margin-left: 1rem;
  }
}
